<template>
    <div class="slds-card">
        <c-address-lookup1 field-label="Select Account Record" child-object-api-name='Contact'
            target-field-api-name='MailingAddress' required onvalueselected={handleValueSelcted}></c-address-lookup1>
        The selected record Id is:- {selectedRecordId}
    </div>
</template>