<apex:page docType="html-5.0" sidebar="False" showHeader="False" controller="TestPage2Controller" standardStylesheets="false" lightningStylesheets="false">
    <html>

    <head>

        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"></script>
        <style>
            .wizard {
                margin: 50px auto;
            }

            .wizard-contents {
                background: #f7f7f7;
                border: 1px solid #c3c3c3;
                border-radius: 3px;
                padding: 80px 25px 30px;
            }

            .wizard-contents .main-title {
                margin-bottom: 50px;
            }

            .wizard-contents .question {
                margin-bottom: 30px;
            }

            .wizard-contents form {
                margin-top: 50px;
            }

            .summary {
                list-style-type: none;
            }

            .summary li {
                padding: 10px 0;
                border-bottom: 1px solid #cecaca;
            }

            .summary li span {
                display: block;
                text-align: left;
            }

            .summary li:last-child {
                border-bottom: none;
            }

            .question-image {
                position: absolute;
                left: -25px;
                top: -25px;
                transform: rotate(-14deg);
                width: 100px;
            }

            .actions {
                display: flex;
                flex-direction: column-reverse;
            }

            .actions a,
            .actions button {
                cursor: pointer;
            }

            .actions a {
                /*   margin: 20px 0; */
            }
        </style>
    </head>

    <body>

        <div class="container-fluid wizard">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="wizard-contents">
                        <h1 class="main-title">Begin your Step Wizard</h1>
                        <button class="btn btn-outline-primary btn-lg" onClick="nameSpace.nextFrame()">Begin</button>
                    </div>
                </div>
            </div>
        </div>

        <template id="question_template">
            <h3 class="question"></h3>
            <div class="form-group">
                <label class="sr-only question-label" for="answer"></label>
                <input type="text" class="form-control" id="answer" aria-describedby="question" autofocus="autofocus" />
                <small id="question_help" class="form-text text-muted"></small>
            </div>
            <div class="actions">
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-outline-primary back-button" onClick="nameSpace.goBack()">Previous Question</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-outline-primary button-label" onClick="nameSpace.nextFrame()"></button>
                    </div>
                </div>
            </div>
        </template>

        <template id="summary_template">
            <h4>Summary</h4>
            <ul class="summary"></ul>
        </template>
        <script>
            var nameSpace = {};

            // Array of questions and button text
            nameSpace.currentFrame = -1;
            nameSpace.wizardContainer = $(".wizard-contents");
            var loopvar = '{!Names}';
            // loopvar = loopvar.replace('[','');
            // loopvar = loopvar.replace(']','');
            loopvar = loopvar.slice(1);
            loopvar = loopvar.slice(0, -1);
            var loopvar1 = loopvar.split(',');            
            console.log({loopvar});
            console.log({loopvar1});
            
            nameSpace.wizardSteps = [
                {
                    question: "What is your name?",
                    button_label: "Next Question"
                },
                {
                    question: "What are your qualifications?",
                    button_label: "Next Question"
                },
                {
                    question: "Where do you see yourself in 5 years?",
                    button_label: "Summary"
                }
            ];

            console.log({nameSpace});
            var testVar = nameSpace.wizardSteps;
            console.log({testVar});


            // Blank array to store the answers
            nameSpace.answers = [];

            // Code to render the screens on every click
            nameSpace.renderFrame = function () {
                var step = nameSpace.wizardSteps[nameSpace.currentFrame];
                var liveQuestionTemplate = $(document.importNode(document.querySelector('#question_template').content, true));
                liveQuestionTemplate.find(".question, .question-label").html(step.question);
                liveQuestionTemplate.find(".button-label").html(step.button_label);
                nameSpace.wizardContainer.html(liveQuestionTemplate);
                $('#answer').focus();
                nameSpace.currentFrame == 0 ? $(".back-button").hide() : '';
            };

            // Save answers to the blank array
            nameSpace.saveAnswer = function () {
                var answer = $("#answer").val();
                if (answer) {
                    nameSpace.answers[nameSpace.currentFrame] = answer;
                }
            };

            // Show answers on the summary screen
            nameSpace.renderSummary = function () {
                var liveSummaryTemplate = $(document.importNode(document.querySelector('#summary_template').content, true));
                var summaryList = liveSummaryTemplate.find(".summary");
                nameSpace.wizardSteps.forEach(function (step, index) {
                    var entry = "<li><span class='summary-question'>Q: " + step.question + "</span><span class='summary-answer'>A: " + nameSpace.answers[index] + "</span></li>";
                    summaryList.append(entry);
                });
                nameSpace.wizardContainer.html(liveSummaryTemplate);
            };

            // Button function to go to next screen
            nameSpace.nextFrame = function () {
                nameSpace.saveAnswer();
                nameSpace.currentFrame++;
                if (nameSpace.currentFrame != nameSpace.wizardSteps.length) {
                    nameSpace.renderFrame();
                } else {
                    nameSpace.renderSummary();
                }
            };

            // Button function to go to previous screen
            nameSpace.goBack = function () {
                nameSpace.currentFrame--;
                nameSpace.renderFrame();
            };
        </script>
    </body>

    </html>
</apex:page>